/* Put your code here */
.grid {
  display: grid;
  grid-template: 100px 100px 100px
  / repeat(12, [small] 20px [large] 40px);
  /*repeat method takes 2 arguments, in this case the first one refers to the ammount
  of columns and the last one to the size of each repeated column or columns. Notice that
  if you create more column sizes they will repeat as much as indicated in the first argument */
}

.grid div:nth-child(1) {
  /* this column starts at the first line and is spanned to the last column */
  grid-column: 1 / span 24;
}

.grid div:nth-child(2) {
  grid-column: small 1 / large 3;
}

.grid div:nth-child(3) {
  grid-column: auto / span 6;
}

.grid div:nth-child(4) {
  grid-column: auto / span 6;
}

.grid div:nth-child(5) {
  grid-column: auto / span 12
}

.grid div:nth-child(6) {
  grid-column: auto / span 12;
}